/Build/*
!/Build/docker/
node_modules
.sass-cache/
bower_components/
node_modules/
/logs/
/bin/*
!/bin/*.sh
/Configuration/*
!/Configuration/Routes.yaml
!/Configuration/Development/
/Configuration/Development/*
!/Configuration/Development/Docker/
/Configuration/Development/Docker/*
!/Configuration/Development/Docker/*.yaml
/Data/*
/Web/*
/Readme.*
/Upgrading.*
/flow
/flow.bat
/Packages/*
